- var radioNum = 0;

mixin vehicle-form__input(type, id, name)
    if (type === 'radio')
        input(
            class="text_font_RoboR text_size_12px text_color_black vehicle-form__input",
            type=type,
            id=`${id}-${++radioNum}`,
            name=name
        )
    else
        input(
            class="text_font_RoboR text_size_12px text_color_black vehicle-form__input",
            type=type,
            id=id,
            placeholder=name
        )