mixin vehicle-form__input(type, id, name, count)
    if (count && type === 'radio')
        - var i = 1;
        while (i <= count)
            input(
                class="vehicle-form__input"
                type=type
                id=`${id}-${i}`
                name=name
            )
            - i++
    else
        input(
            class="vehicle-form__input"
            type=type
            id=id
            placeholder=name
        )